<div class="container pt-4">
  <div class="contRoulete">
    <div #rouletteContainer class="roulette-container">
      <img class="img-ruleta" src="../assets/img/Reglas-ruleta-logo.png" alt="">
    </div>
    <button (click)="spinRoulette()" class="btn btn-success btn-lg ml-4">Girar Ruleta</button>
  </div>

  <div class="casillas contFilas mt-4">
    <ng-container *ngFor="let fila of filas">
      <div class="fila">
        <div class="casilla m-1" *ngFor="let numero of fila" (click)="seleccionarCasilla(numero)"
          [ngClass]="{ 'seleccionada': numero === casillaSeleccionada, 'rojo': esRojo(numero), 'verde': numero === casillaSeleccionada, 'negro': !esRojo(numero) && numero !== casillaSeleccionada }">
          <div class="numero">{{ numero }}</div>
        </div>
      </div>
    </ng-container>
  </div>

  <h1 class="mt-4 h1Message" *ngIf="resultado">
    <span>
      {{ resultado }}
    </span>
  </h1>

</div>