/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('../src/assets/img/img-casino.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #004002;
}